<div class="col-md-8 col-md-offset-2">
    <h2 class="text-center">Friend List</h2>
	<table class="table table-striped">
	  <% @frnds.each do |friend| %>
	    <tr>
	    	<td class="profile-pic"><%= link_to image_tag(default_img(User.find(friend.id))), 
	    							:title => friend.first_name.capitalize, 
	    							:alt => friend.first_name.capitalize), 
	    							user_path(friend)%>
	         </td>
	        <td><%= link_to truncate(friend.first_name.capitalize + " " + friend.last_name.capitalize, :length => 16), user_path(friend) %></td>
	    	<td> <%= link_to "Unfriend", :controller => "friendables", :action => "unfriend", :id => friend.id, :class => "btn btn-danger" %> </td>
	    <tr>
	  <% end %>
	</table>
</div>

