<div class="follow">
  <% if @user.followed_by?(current_user) && current_user.id != @user.id %>
      <%= link_to "Unfriend", unfollow_user_path(@user), :class => "btn btn-danger" %>
  <% elsif current_user.id != @user.id %>
      <%= link_to "Send Friend Request", follow_user_path(@user), :class => "btn btn-default" %>
  <% end %>
</div>