/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */

  .nav  li  a  img{
    width: 20px;
    height: 20px;
  }

   #navBarSearchForm input[type=text]{width:430px !important;}

  body{
    margin-top: 0;
    padding-top: 0;
  }

	.profile-pic img{
		width: 35px;
		height: 35px;
	}


</style>

  /*footer */

footer{
	margin-top: 45px;
	padding-top: 5px;
	margin-left: 100px;
	margin-right: 100px;
	border-top: 1px solid #616060;
	color: #999;
}

footer a{
	color: #555;
}

footer a:hover{
	color: #222;
}

footer small{
	float: left;
}

footer ul{
	float: right;
	list-style: none;
}

footer ul li{
	float: left;
	margin-left: 10px;
}

/*field with errors*/

.field_with_errors input, .field_with_errors textarea{
	border: 1px solid #FC7E7E;
}

/*Error exeplanation*/

#error_explanation{
	border: 1px solid #616060;
	border-radius: 7px;
	padding-
	margin: 0;
}

#error_explanation ul li{
	list-style: none;
}